body{
    background-color: #D6E4FF;
}
/* header */
.header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: flex-start;
    justify-content: start;
    background-color: #ADC8FF;
    padding-left: 100px;
       
}


.header-title{
    font-weight: bold;
    color:#100505;
    font-size: 3rem;
    margin-top:80px;
    margin-bottom:50px;
}

.header-content{
    font-weight: 200;
    color:#100505;
    font-size: 2.0rem;
}

.nav-container{
    width: 500px;
    height: 40px;
    display: flex;
    background-color: #D6E4FF;
    border-radius: 20px 20px;
    align-self:  flex-end;
    margin-top:30px;
    margin-right:20px;
    justify-content: space-around;
    box-shadow: 3px 3px 10px 0.1px #6690FF;
}
.nav-menu{
    font-size:1.2rem;
    color:#102693;
    line-height: 40px;
    font-weight: 600;
    
}
.nav-menu:hover{
    transition: transform 0.5s;
    transform: translate(0, -5px);
}


/*main*/
.main-container{
    display: flex;
    width: 100%;
    height: 600px;
    background-color:#ADC8FF;
    flex-direction: column;
}

.main-title{
    display: flex;
    align-items: center;
    color: #100505;
    height:150px;
    font-size: 2rem;
    font-weight: 200;
    padding-left :100px;
    padding-top: 50px;

}

.main-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


/*card 정리*/
.card-window{
    width:80%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.card-container{
   width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
    justify-content: start;
}

.card{
    min-width:300px;
    min-height:200px;
    background-color: #fff;
    border: 1px solid black;
    margin: auto 50px;
    border-radius: 10px 10px;
    box-shadow: 3px 3px 10px 0.1px #6690FF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    width: 90%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.card-text-container{
    align-self: center;
    height: 110px;
    font-size: 1.1rem;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    width: 100%;
    height: auto;
    max-height: 110px;
    overflow :scroll;
}

.card-footer{
    display: flex;
    align-self: end;
}


.first-card{
    transition: transform 1s;
    transform: scale(1.3);
}

.zero-card{
    visibility:hidden;
  
}

.arrow{
    width:50px;
    height:50px;
    z-index: 1000;
}

.arrow:hover{
    transition: transform 0.5s;
    transform: translate(0px, -5px);
}

.surfing{
    width: 100px;
    height:100px;
}