<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>



    <link rel ="stylesheet" href="../static/css/common/basic.css"/> 
    <link rel ="stylesheet" href="../static/css/category.css"/>

</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="nav-container">
                    <div class="nav-menu">
                        메인화면
                    </div>
                    <div class="nav-menu">
                        카테고리
                    </div>
                    <div class="nav-menu">
                        내 정보
                    </div>
                </div>
                <div class="header-title">
                    삶을 더 풍요롭게
                </div>
                <div class="header-content">
                    아름다운 한글 글귀를 모아보세요!
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="inner">
            <div class="main-container">
                <div class="category-container">
                    <div class="category selected">모두</div>
                    <div class="category">문학 조각</div>
                    <div class="category">철학 조각</div>
                    <div class="category">자기 계발</div>
                    <div class="category">창작</div>
                    <div class="category">장문</div>
                </div>
                <div class="list-container">
                    <img class="arrow" src="../static/img/arrow-left_1.png" alt="arrow">
                    <div class="list-window">
                        <div class="lists" data-start="0">
                            <div class="list">
                                <div class="list-title">1</div>
                                <div class="list-content"></div>
                                <div class="list-comment"></div>
                            </div>
                            <div class="list">
                                <div class="list-title">2</div>
                                <div class="list-content"></div>
                                <div class="list-comment"></div>
                            </div>
                            <div class="list">
                                <div class="list-title">3</div>
                                <div class="list-content"></div>
                                <div class="list-comment"></div>
                            </div>
                            </div>
                    </div>    
                    <img class="arrow" src="../static/img/arrow-right_1.png" alt="arrow">
                </div>
            </div>
        </div>
    </section>

    <div class="modal">
        <div class="modal_body">Modal</div>
    </div>


    <script>
        let categories = [...document.querySelectorAll(".category")];
        for(category of categories){
            category.addEventListener("click", (e)=>{
                for(c of categories){
                    c.classList.remove("selected");
                }
                e.target.classList.add("selected");
            });
        }

    
        const arrows = [...document.querySelectorAll(".arrow")];
        const left_arrow = arrows[0];
        left_arrow.style.opacity = 0.1;
        const right_arrow = arrows[1];
        document.querySelector(".list").classList.add("current-list");

        

        let right_move=()=>{
            let lists = document.querySelector(".lists");
            let start_line = parseInt(lists.dataset.start);
            
            start_line = start_line -640;
            
            lists.style.transition = "transform 1s";
            lists.style.transform = "translate("+start_line+"px, 0)";
            lists.dataset.start = start_line;

            if(start_line< 0){
                left_arrow.addEventListener("click",left_move);
                left_arrow.style.opacity = 1;
            }

            let current_list = document.querySelector(".current-list");
            console.log(current_list);
            current_list.classList.remove("current-list")
            console.log(current_list.nextElementSibling);
            current_list.nextElementSibling.classList.add("current-list");
            

            if(document.querySelector(".current-list").nextElementSibling == null){
                (function make_list(){
                    let newNode = document.createElement("div");
                    let newTitle = document.createElement("div");
                    let newContent = document.createElement("div");
                    let newComment = document.createElement("div");
                    newNode.classList.add("list");
                    newTitle.classList.add("list-title");
                    newContent.classList.add("list-content");
                    newComment.classList.add("list-comment");
                    newNode.appendChild(newTitle);
                    newNode.appendChild(newContent);
                    newNode.appendChild(newComment);
                    document.querySelector(".lists").appendChild(newNode);

                }());
            }

        }

        let left_move=()=>{
            let lists = document.querySelector(".lists");
            let start_line = parseInt(lists.dataset.start);
            
            start_line = start_line + 640;
            
            lists.style.transition = "transform 1s";
            lists.style.transform = "translate("+start_line+"px, 0)";
            lists.dataset.start = start_line;
        
            if(start_line > 0 || start_line==0){
                left_arrow.removeEventListener("click", left_move);
                left_arrow.style.opacity = 0.1;
            }

            
            let current_list = document.querySelector(".current-list");
            current_list.classList.remove("current-list")
            current_list.previousElementSibling.classList.add("current-list");

        }


        right_arrow.addEventListener("click", right_move);


        let modal = document.querySelector(".modal");
        let body = document.querySelector("body");
        let lists = document.querySelectorAll(".list");
        let arr_lists = [...lists];

        modal.addEventListener("click",()=>{
            modal.style.display = "none";
            body.style.overflow = 'auto'
        })

        for(list of arr_lists){
            list.addEventListener("click", ()=>{
                // console.log("hi");
                modal.style.display = "block";
                body.style.overflow = "hidden";
                // console.log("bye");
                // modal.classList.add("show");
                
            })
        }


    </script>
</body>
</html>